  #frame {/*----------图片轮播相框容器----------*/  
            position: absolute; /*--绝对定位，方便子元素的定位*/  
            width: 400px;  
            height: 200px;  
            overflow: hidden;/*--相框作用，只显示一个图片---*/  
            border-radius:5px;
            margin-top:3px;
 			
        }  
        #dis {/*--绝对定位方便li图片简介的自动分布定位---*/  
            position: absolute;  
            left: -50px;  
            top: 10px;  
            opacity: 0.5;  
        }  
        #dis li {  
            display: inline-block;  
            width:200px;  
            height: 20px;  
            margin: 0 100px;  
            float: left;  
            text-align: center;  
            color: #fff;  
            border-radius: 10px;  
            background: #000;  
        }  
        #photos img {  
            float: left;  
            width:400px;  
            height:200px;  
        }  
        #photos {/*---设置总的图片宽度--通过位移来达到轮播效果----*/  
            position: absolute;z-index:9px;  
            width: calc(400px * 5);/*---修改图片数量的话需要修改下面的动画参数*/  
        }  
        .play{  
            animation: ma 20s ease-out infinite alternate;/**/  
        }  
        @keyframes ma {/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/  
            0%,20% {        margin-left: 0px;       }  
            25%,40% {       margin-left: -400px;    }  
            45%,60% {       margin-left: -800px;    }  
            65%,80% {       margin-left: -1200px;    }  
            85%,100% {      margin-left: -1600px;   }  
        }  
        .num{  
            position:absolute;z-index:10;  
            display:inline-block;  
            right:10px;top:165px;  
            border-radius:100%;  
            background:#f00;  
            width:25px;height:25px;  
            line-height:25px;  
            cursor:pointer;  
            color:#fff;  
            text-align:center;  
            opacity:0.8;  
        }  
        .num:hover{background:#00f;}  
        .num:hover,#photos:hover{animation-play-state:paused;}  
        .num:nth-child(2){margin-right:30px}  
        .num:nth-child(3){margin-right:60px}  
        .num:nth-child(4){margin-right:90px}  
        .num:nth-child(5){margin-right:120px}  
        #a1:hover ~ #photos{animation: ma5 .5s ease-out forwards;}  
        #a2:hover ~ #photos{animation: ma4.5s ease-out forwards;}  
        #a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}  
        #a4:hover ~ #photos{animation: ma2 .5s ease-out forwards;}  
        #a5:hover ~ #photos {animation: ma1 .5s ease-out forwards;}  
        @keyframes ma1 {0%{margin-left:-1200px;}100%{margin-left:-0px;} }  
        @keyframes ma2 {0%{margin-left:-1200px;}100%{margin-left:-400px;}   }  
        @keyframes ma3 {100%{margin-left:-800px;}   }  
        @keyframes ma4 {100%{margin-left:-1200px;}   }  
        @keyframes ma5 {100%{margin-left:-1600px;}  }  

        #shiying{}
		.frame1{float:left;}
		.frame2{float:left;margin-left:40px;}
		.frame3{float:left;margin-left:40px;}
		.frame4{float:left;margin-left:40px;}
		 #shiying1{}
		.framea{float:left;}
		.frameb{float:left;margin-left:40px;}
		.framec{float:left;margin-left:40px;}
		.framed{float:left;margin-left:40px;}
		#shiying img{border-radius:5px;}
		#shiying1 img{border-radius:5px;}
		
		
		.frame1:hover img{opacity:0.3 ;}
		.frame2:hover img{opacity:0.3 ;}
		.frame3:hover img{opacity:0.3 ;}
		.frame4:hover img{opacity:0.3 ;}
		.framea:hover img{opacity:0.3 ;}
		.frameb:hover img{opacity:0.3 ;}
		.framec:hover img{opacity:0.3 ;}
		.framed:hover img{opacity:0.3 ;}	
		
		#zhanshi{background-color:#829;width:500px;height:200px;margin-top:3px;float:right;}
#zhanshi li{list-style:none;}
		.content-nav{width:500px;height:40px;background-color:#325;margin-top:-10px;}
		.content-nav>ul{padding:0;}
		.content-nav>ul>li{position:relative;float:left;font-size:20px;width:100px;line-height:35px;}
		.content-nav>ul>li>ul{padding:0;width:500px;}
		.content-nav>ul>li>ul>li{font-size:16px;line-height:26px;width:250px;float:left;background-color:#FFb8fC;}
		.zhanshi02{margin-left:-100px;}
		.content-nav ul li ul{display:none}
		.content-nav ul li:hover ul{display:block;}
		#zhanshi01 {display:block;}
		#zhanshi01 a{color:#695;}
		.zhanshi02 a{color:#695;}
		.content-nav ul li button{background-color:#325;border-top:3px solid red;border-left:0;border-right:0;border-bottom:0;}
		.content-nav >ul>li:hover button{background-color:#FFb8fC;border-top:3px solid green;}
		.content-nav>ul>li>a{color:#999;}
		
		
		#zhongyao{float:left;background-color:white;width:960px;height:400px;margin-top:5px;}
#zhongyao li{list-style:none}
		.zhongyao-nav{width:260px;height:400px;background-color:green;}
		.zhongyao-nav>ul{padding:0;}
		.zhongyao-nav>ul>li{width:260px;line-height:50px;font-size:25px;text-align:center;position:relative;background-color:white;}
		.zhongyao-nav>ul>li>ul{width:700px;padding:0;position:absolute;left:260px;top:0;}
		.zhongyao-nav>ul>li>ul>li{width:350px;line-height:50px;background-color:#429;float:left;text-align:left;}
		.zhongyao-nav ul li ul{display:none;}
		.zhongyao-nav ul li:hover ul{display:block;}
		#zhongyao01 {display:block;}
		
	    .zhongyao-nav>ul>li:hover{background-color:#429}
		.zhongyao-nav>ul>li>a{color:#599;}
		
		
		
	
		
		
		
		
		
		
		
		
		
		
		
		
		
	
		
		
		
	
	    
		
		
		

	
		
		
		
		
	
		
